.copyright{
    background: #646d7d;
    font-size: 13px;
    text-align: center;
    color: #d1d6e1;
    padding-top: 14px;
    padding-bottom: 20px;
    border-top: 1px solid #303030;
}

body {
    background-color: #f5f5f5;
    padding-top: 100px;
}

#main-body {
    min-height: 800px;
    background-color: #ffffff;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
}

#bbs-nav-head {
    margin-top: 50px;
}